/* estilos gerais da aplicação */

ion-icon{
  font-size:21px;
  margin:0px 5px;
}

.display-none{
  display: none;
}

img.icone {
  color: var(--preto);
  width: 23px;
  height: 23px;
}

.icone svg {
  width: 23px;
  height: 23px;
}











